<template>
  <div :class="{ backdrop: appBackdrop }" @click="closeNavbar">
    <Header />

    <!-- Ports -->
    <div class="ports">
      <div class="container">
        <Sidebar />
        <!-- Content -->
        <div class="content">
          <Donate />
          <slot />
          <!-- Built With -->
          <NewPort :mobile="true" />
        </div>
      </div>
    </div>

    <Footer />
  </div>
</template>

<script>
import Header from "~/components/layout/Header.vue";
import Footer from "~/components/layout/Footer.vue";

import Sidebar from "~/components/devices/Sidebar.vue";
import NewPort from "~/components/devices/NewPort.vue";

import Donate from "~/components/Donate.vue";

export default {
  metaInfo: {
    meta: [
      {
        name: "twitter:card",
        content: "summary_large_image"
      },
      {
        name: "twitter:creator",
        content: "@ubports"
      },
      {
        property: "og:type",
        content: "website"
      },
      {
        property: "og:image",
        content: "https://devices.ubuntu-touch.io/social-preview.jpg"
      }
    ]
  },
  components: {
    Header,
    Footer,
    Sidebar,
    NewPort,
    Donate
  },
  data: function () {
    return {
      appBackdrop: false
    };
  },
  mounted() {
    this.$root.$on("bv::collapse::state", (collapseId, isShown) => {
      if (collapseId == "headerNav") this.appBackdrop = isShown;
    });
  },
  methods: {
    closeNavbar(e) {
      if (!e.target.closest(".header") && this.appBackdrop) {
        this.$root.$emit("bv::toggle::collapse", "headerNav");
      }
    }
  }
};
</script>
